@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new Recipe</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @*public string Ingredients { get; set; }*@
  
  @Html.LabelFor(model => model.Instructions)
  @Html.TextBoxFor(model => model.Instructions)

  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating)


  <input type="submit" value="Add new recipe" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>
