@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h1>Welcome to the To Do List!</h1>

<hr>

<h4>Items</h4>
@if (Model["recipes"].Length == 0)
{
  <p>No items have been added yet!</p>
} 
<ul>
  @foreach (Recipe recipe in Model["recipes"])
  {
    <li>@Html.ActionLink(@item.Description, "Details", "Items", new { id = @item.RecipeId})</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage recipes", "Index", "Items")</p> 
<p>@Html.ActionLink("Manage tags", "Index", "Tags")</p>