@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h1>Welcome to the Recipe Box!</h1>

<hr>

<h4>Recipes</h4>
@if (Model["recipes"].Length == 0)
{
  <p>No recipess have been added yet!</p>
} 
<ul>
  @foreach (Recipe recipe in Model["recipes"])
  {
    <li>@Html.ActionLink(@recipe.Name, "Details", "Recipes", new { id = @recipe.RecipeId})</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>

<p>@Html.ActionLink("Manage recipes", "Index", "Recipes")</p> 
<p>@Html.ActionLink("Manage tags", "Index", "Tags")</p>